@font-face {
    font-family: VisualAlternativ;
    src: url(Visual_Alternative-Regular.otf);
}
html {
    background: black;
    color: #F9C6C0;
    font-family: VisualAlternativ;
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    position:absolute; top:0; bottom:0; right:0; left:0;
    margin: 0;
    padding: 6vh;
}
#content {
    height: 100%;
    width: 100%;
    position: relative;
}
#content > * {
    display: inline-block;
    position: absolute;
    font-size: 6vh;
}
h1 {
    margin: 0;
}
#title {
    right: 0;
    font-size: 8vh;
}
#soon {
    bottom: 0;
}
#time {
    /*bottom: 0;*/
    /*right: 0;*/
    width: 6.5ch;
    text-align: left;
    color: white;
}
#bullets {
    font-family: Verdena sans-serif;
    display: block;
    text-align: center;
    font-size: 12vh;
    width: 100%;
    top: calc(50% - 7.9vh);
}
